
body {
	height: 3000px;
	margin: 0;
}
h1 {
     font-size: 100%;
}
.container {
	display: none;
}
.loading {
	width: 100%;
	height: 100%;
}
.eye-catch {
	font: 72px arial,helvetica,clean,sans-serif;
	animation: loadanime 5s ease 0s infinite alternate;
}
@keyframes loadanime {
	0% { color: #fff;}
	100% { color: yellow;}
}
.indicator {
     margin: 0;
     position: fixed;
     right: 10px;
     top: 10px;
}
.sun {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: yellow;
	position: absolute;
	z-index: 1;
}
.sun-title {
	position: absolute;
	color: #fff;
	top: 30%;
	left: 15%;
}
.what-is {
    z-index: 1000 !important;
    animation: anime1 0.2s ease 0s infinite alternate;
}
@keyframes anime1 {
	0% {width: 50px; height: 50px}
	100% {width: 55px !important; height: 55px !important}
}
.what-is:hover {
	-webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    -ms-transform: scale(2.2);
    transform: scale(2.2);
    cursor: pointer;
}
.viewable-area {
	width: 100%;
	position: relative;
	z-index: 0;
	overflow: hidden;
	background: #fff url("../img/PEZ_tuutenkaku.jpg") no-repeat fixed top left;
	background-size: cover;
}
.passage {
	width: 100%;
	position: absolute;
	background-color: rgb(37,40,107);
	z-index: 999;
}
.morning-images {
	width: 100%;
	position: absolute;
	z-index: auto;
}
.office-image {
	width: 100%;
	position: absolute;
}
#office-front {
	z-index: 2
}
.caption {
	color: #fff;
	position: absolute;
	font:48px arial,helvetica,clean,sans-serif;
	letter-spacing: 0.2;
}